@font-face {
	font-family: 'Custom Key';
	src: url('../fonts/custom_key.eot?ltobg9');
	src: url('../fonts/custom_key.eot?#iefixltobg9') format('embedded-opentype'), url('../fonts/custom_key.woff?ltobg9') format('woff'), url('../fonts/custom_key.ttf?ltobg9') format('truetype'), url('../fonts/custom_key.svg?ltobg9#icomoon') format('svg');
}

.icon-key {
	font-family: 'Custom Key';
}

.icon-key:before {
	content: "\e600";
}

.form-label {
	min-width: 22%;
}

.modal-header {
	background-color: #eae8e8;
	border-radius: 7px 7px 0px 0px;
}


.border {
	border: 1px solid #990000;
}

.logo {
	display: inline-block;
	height: 60px;
}

.logo-xs {
	height: 30px;
}

.profile-avatar {
    width: 170px;
    height: 170px;
}

.profile-container {
	margin-top: 20px;
}
