<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h3 class="text-center">Реєстрація</h3>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Імя</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name" placeholder="First name">
				</div>
			</div>
			<div class="form-group">
				<label for="last_name" class="col-sm-4 control-label">Прізвище</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="last_name" placeholder="Last name">
				</div>
			</div>
			<div class="form-group">
				<label for="nick_name" class="col-sm-4 control-label">Нік*</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="nick_name" placeholder="Nick name">
				</div>
			</div> 
			 <div class="form-group">
				<label for="password" class="col-sm-4 control-label">Пароль*</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="last_name" placeholder="Password">
				</div>
			</div>
			 <div class="form-group">
				<label for="repeat_password" class="col-sm-4 control-label">Повторіть пароль*</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="repeat_password" placeholder="Repeat password">
				</div>
			</div>
			  <div class="form-group">
				<label for="email" class="col-sm-4 control-label">Пошта</label>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="email" placeholder="Email">
				</div>
			</div>
			 <div class="form-group">
				<label for="birthday" class="col-sm-4 control-label">День народження*</label>
				<div class="col-sm-6">
					<input type="date" class="form-control" id="birthday" placeholder="Birthday">
				</div>
			</div>
			 <div class="form-group">
				<label for="plast_hovel" class="col-sm-4 control-label">Пластовий курінь</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="plast_hovel" placeholder="Plast hovel">
				</div>
			</div>
			<div class="form-group">
				<label for="plast_region" class="col-sm-4 control-label">Станиця</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="plast_region" placeholder="Plast region">
				</div>
			</div>
			<div class="form-group">
				<label for="level" class="col-sm-4 control-label">
					Пластовий ступінь
				</label>
				<div class="dropdown col-sm-6">
					<button class="btn btn-default dropdown-toggle" type="button" id="level" data-toggle="dropdown">
						Початківець
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="level">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#">Досвідчений</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#">Експерт</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label for="picture" class="col-sm-4 control-label"> Завантажити аватар </label>
				<div class="col-sm-6" id="picture">
					<input type="file">
				</div>
			</div>
			<div class="form-group">
				<label for="number" class="col-sm-4 control-label">Введіть число </label>
				<div class="col-sm-1">
					123
				</div>
				<div class="col-sm-1" id="number">
					<input type="text">
				</div>
			</div>
			<div class="form-group text-center">
				<button type="button" class="btn btn-danger">
					Відмінити
				</button>
				<button type="button" class="btn btn-success">
					Реєстрація
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>